{% extends 'blog/base.html' %}

    {% block content %}
        <div class="post" id='{{ post.pk }}'>

           {% if user.is_authenticated %}
              {% if post.published_date %}
                <div class="date">
                  <a>{{ post.published_date }}</a>
                </div>
              {% else %}
                <a class="btn btn-default" href="{% url 'blog.views.post_publish' pk=post.pk %}">Publish</a>
                {% endif %}
            {% else %}
             <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
            {% endif %}
            {% if user.is_superuser or  user.username == post.author %}
          <a class="btn btn-default red_btn" href="{% url 'post_remove' pk=post.pk %}" >Delete post</a>
            {% endif %}
          <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">Edit</a>
          <hr>
            <h4>Author: <a>{{ post.author}}</a></h2>
            <h1>{{ post.title }}</h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
        <div id="comments_wall">
                {% for comment in comments %}
                <div class="comments_row">
                  <div class="comment_teach">


                <a>
                  {{ comment.author}}
                </a>
                <p>
                  {{ comment.text }}
                </p>
              </div>
                  {%include "blog/comments.html" %}
                </div>
                {% endfor %}

              </div>
                {% if user.is_authenticated %}
              <div class="post">
                <div class="reply_form">
                  <form class="post-form re_comment" id='reply_comment' >
                    {% csrf_token %}
                    {{ form_r.as_p }}
                    <button type="button" name="button" id="re_cancel_btn">cancel</button>
                    <button type="submit" name="button" id='re_comment_btn' style='display:none'>comment</button>
                  </form>
                </div>
                <div class="comment_form">
                  <form class="post-form" id='comment'>
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit" id = "search" class="save btn btn-default grn_btn"  style="float:left !important">comment</button>
                  </form>
                </div>

                  <br>
                  </div>
                  {% endif %}


    {% endblock %}
