{% extends 'blog/base.html' %}

    {% block content %}
        <div class="post">
           {% if user.is_authenticated %}
              {% if post.published_date %}
                <div class="date">
                  {{ post.published_date }}
                </div>
              {% else %}
                <a class="btn btn-default" href="{% url 'blog.views.post_publish' pk=post.pk %}">Publish</a>
                {% endif %}
            {% else %}
             <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
            {% endif %}
          <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
          <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <h1>{{ post.title }}</h1>
            <p>{{ post.text|linebreaksbr }}</p>
            <hr>
            comments bellow ...
            <hr>
                <div id="comments_content">
                {% for comment in post.comments.all %}
                <p style="float:right">{{ comment.created_date }}</p>
                <p><b>{{ comment.author }}</b>:{{ comment.text }}</p>
                {% endfor %}
                </div>
                <div id="foma-div" style='display:'>
                  <form method="POST" class="post-form" id='comment'>
                  {% csrf_token %}
                  {{ form.as_p }}
                  <div class="g-recaptcha" data-sitekey="6LeNHCUTAAAAAOYahdU9Eynxj8uOaegIVOWLEBlr"></div>
                  <button type="submit" id = "search" class="save btn btn-default">Save</button>
                  </form>
                </div>
        </div>
    {% endblock %}
